<div class="managementCover">
    <div class="container-fluid">
 
 <table class="table table-bordered tableList">
    <thead>
      <tr>
 
        <th scope="col">Management</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Qualification</th>
        <th scope="col">Gender</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
           <img src="assets/p1.jpg" style="width: 50px;border-radius:50px">
        </td>
        <td>Arslan</td>
        <td>Admin</td>
        <td>BSSE</td>
        <td>Male</td>
      </tr>
 
 
      <tr>
          <td>
             <img src="assets/p1.jpg" style="width: 50px;border-radius:50px">
          </td>
          <td>Asad</td>
          <td>Clerk</td>
          <td>BCS</td>
          <td>Male</td>
        </tr>
 
 
 
        <tr>
             <td>
                <img src="assets/p1.jpg" style="width: 50px;border-radius:50px">
             </td>
             <td>Usman</td>
             <td>25</td>
             <td>MCS</td>
             <td>Male</td>
           </tr>
 
 
 
 
           <tr>
                <td>
                   <img src="assets/p1.jpg" style="width: 50px;border-radius:50px">
                </td>
                <td>Haseeb</td>
                <td>25</td>
                <td>MCS</td>
                <td>Male</td>
              </tr>
 
 
 
              <tr>
                   <td>
                      <img src="assets/p1.jpg" style="width: 50px;border-radius:50px">
                   </td>
                   <td>Haseeb</td>
                   <td>25</td>
                   <td>MCS</td>
                   <td>Male</td>
                 </tr>
 
 
 
                 <tr>
                      <td>
                         <img src="assets/p1.jpg" style="width: 50px;border-radius:50px">
                      </td>
                      <td>Haseeb</td>
                      <td>25</td>
                      <td>MCS</td>
                      <td>Male</td>
                    </tr>
 
 
 
    </tbody>
  </table>
 </div>
 </div>
 