<div class="teachersCover">
    <div class="container-fluid">

        <table class="table table-bordered tableList">
            <thead>
                <tr>

                    <th scope="col">Teacher ID</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacherdata of teachersData">
                   
                    <td>{{teacherdata.id}}</td>
                    <td>
                        <img [src]="teacherdata.avatar" style="width: 50px;border-radius:50px">
                    </td>
                    
                    <td>{{teacherdata.first_name}}</td>
                    <td>{{teacherdata.last_name}}</td>
                    <td>{{teacherdata.email}}</td>
                    

                </tr>






            </tbody>
        </table>
    </div>
</div>