<div class="logo"></div>
<div class="login-block">
    <!-- <h1>Sign Up</h1>
    <input type="text" value="" placeholder="Username" id="username" />
    <input type="text" value="" placeholder="Email" id="email" />
    <input type="password" value="" placeholder="Password" id="password" />
    <input type="password" value="" placeholder="Conform Password" id="ConformPassword" />
    <button>Submit</button> -->







    <h1>Add Student</h1>
    <input type="text" value="" placeholder="Name" [(ngModel)]='studentName'>
    <input type="text" value="" placeholder="Roll No" [(ngModel)]='studentrollNo'>
    <input type="text" value="" placeholder="class" [(ngModel)]='studentClass'>
    <input type="text" value="" placeholder="Gender" [(ngModel)]='studentGender'>
    <button type="submit" (click)="addstudent()">Submit</button>





</div>