<div class="loginCover">
    <div class="login-block">
        <h1>Login</h1>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Username" formControlName="email" id="username"/>
            <input type="password" value="" formControlName="pass" placeholder="Password" id="password" />
            <button>Submit</button>
            <button class="mt-2" type="button" (click)="autoFillData()">Auto Fill</button>
            
           
        </form>
        
    </div>
</div>