<div class="studentsCover">
    <div class="container-fluid">

        <table class="table table-bordered tableList">
            <thead>
                <tr>

                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last NAme</th>
                    <th scope="col">Email</th>


                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let data of receivedData">
                 
                    <td>{{data.id}}</td>
                    <td>
                        <img [src]="data.avatar" style="width: 50px;border-radius:50px">
                    </td>
                    <td>{{data.first_name}}</td>
                    <td>{{data.last_name}}</td>
                    <td>{{data.email}}</td>
                </tr>
            </tbody>


        </table>




        <div class="logics-area">
            <div class="temp">
                <h5>Two way data binding Example</h5>
                <input type="text" [(ngModel)]="name">
                <p>{{name}}</p>
            </div>

            <div class="interpolation-examples">
                <h5>String Interpolation Examples</h5>
                <p>This student is: {{studentStatus}}</p>

            </div>

        </div>



    </div>
</div>