/* You can add global styles to this file, and also import other style files */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tableList th,
.tableList td {
    color: #fff;
}

.logics-area p,
h4,
h5 {
    color: #fff
}